@use "@material/theme" with (
  $primary: #696868,
  $secondary: #000000,
  $background: #c7c7c7,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";

@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
}

.nav_bar_main{
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  max-width: 100vw;
  height: 72px;
  top: 0px;
  position: sticky;
  z-index: 120;
  transition: top 0.5s ease 0s;
  background-color: rgb(255, 255, 255);
}

.middle_partition{
  display: flex;
  width: 100%;
}

//contenidos de los botones del tab
.mdc-tab__content {
  text-align: center;
  font-family: "Rooboto";
}